<footer class="footer">
<small>   A Ruby on Rails User Framework by <a href="http://www.8balldigital.co.uk">8Ball Digital</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>